{:aliases {:dev {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.597"}
                              org.clojure/test.check {:mvn/version "RELEASE"}}}}

 :deps    {me.flowthing/enne {:local/root "../"}
           reagent           {:mvn/version "0.9.1"}}

 :paths   ["src"]}
